.newYogaClassCard{
    border:none;
}

#yogaClassForm .form-control{
    border-color: #063e8b !important;
    background-color:#ffffff !important;
}

#yogaClassForm .btn{
    border-color: #063e8b !important;
    background-color:#063e8b !important;
}

#yoga-class-form{
    background-image:url("../assets/img/pages/yogaplant.jpg");
    border:none;
    height:8rem;
    text-align: center;
}

#yoga-class-form h1{
    color: white;
}


#yogaClassForm .btn-outline-secondary, .custom-file-label{
    border-color: #063e8b !important;
}

#yogaClassForm .dateTimeContainer{
    border:1px solid #063e8b !important;
}


#yogaClassForm .image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 0.5rem;
    position: relative;
}

#yogaClassForm .image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

#yogaClassForm .image-area img {
    z-index: 2;
    position: relative;
}

#yogaClassForm #create-yoga-class-btn{
    border-radius: 0.35rem;
    border-color: #063e8b !important;
    background-color:#063e8b !important;
    color:white;
    width: 100%;
    height:3rem;
}

#yogaClassForm #successful-yoga-create, #failed-yoga-create{
    display:none;
}