.logged-in,
#headerLoginForm,
#yogaClassModalAlertSuccess,
#yogaClassModalAlertError,
#viewAllBtn,
#my-class-history,
#new-class,
#manage-classes{
    display:none;
}


/*CATEGORIES CARD SECTION*/
.categoriesTitle{
    margin-bottom: 0px !important;
}

#categoriesCard{
    padding:0rem !important;
    width: 100%;
}

.categoryCard{
    height:7rem;
    overflow: hidden;
    border-radius: 0.35rem;
}

.categoryCardBody{
    padding:1rem;
}

.categoryImageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.categoriesImage{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    transition: transform 3s ease-in-out;
}

.categoryCard:hover .categoriesImage{
    transform: scale(1.3);
}

.categoriesTitle{
    margin-bottom: 0.75rem;
    color: white;
}

.categoriesDescription{
    font-size: 0.75rem;
    color: white;
}


/* ALL YOGA CLASSES SECTION*/
#all-yoga-classes .col-3{
    padding:1rem !important;
}

#all-yoga-classes .card{
    transition: transform .5s ease-in-out;
}

#all-yoga-classes .card .badge{
    border-radius: .25rem;
    padding: .5em;
}

#all-yoga-classes a:hover{
    text-decoration: none;
}

#all-yoga-classes a{
    color:rgb(106, 106, 106);
}

#all-yoga-classes .yogaClassImageWrapper{
    position: relative;
}

#all-yoga-classes .yogaClassCardDescription{
    font-size: 0.75rem;
}

#all-yoga-classes .card .yogaClassImage{
    transition: all 2s ease-in-out;
}

#all-yoga-classes .card:hover .yogaClassImage{
    transform: scale(1.1);
    filter: brightness(75%);
}

#all-yoga-classes .badgeWrapper{
    position: absolute;
    top:0.5rem;
    right:0.5rem;
    z-index: 1;
}


#all-yoga-classes .yogaClassInstructorDetails{
    transition: all 1s ease-in-out;
    position: absolute;
    z-index: 1;
    bottom: .5rem;
    left:1rem;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
}

#all-yoga-classes .yogaClassInstructorImage{
    width:2.0rem;
    height:2.0rem;
    border-radius: 50%;
    border:1px solid white;
}

#all-yoga-classes .card:hover .yogaClassInstructorDetails{
    opacity: 1;
    visibility: visible;
}

#all-yoga-classes .yogaClassTeacherName{
    font-size: 0.75rem;
    color:white;
}



/* Yoga Class Modal and Teacher's Upcoming Class Details*/
.yogaClassImageClipper{
    border-top-left-radius:0.35rem;
    border-top-right-radius:0.35rem;
    max-height: 10rem;
    overflow: hidden;
    position: relative;
}


#yogaClassImageWrapper, #teacherYogaClassImageWrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#yogaClassImageWrapper:hover #yogaClassImage,
#teacherYogaClassImageWrapper:hover #teacherYogaClassImage{
    transform: scale(1.1);
    opacity: .95;
}


#yogaClassImage,
#teacherYogaClassImage{
    width:100%;
    border-radius: 5px;
    transition: all 1s ease-in-out;
}

#yogaClassStatus, #teacherYogaClassStatus{
    position: absolute;
    height:1.75rem;
    z-index: 2;
    top: .5rem;
    right:1rem;
    font-size: 1rem;
}


#yogaClassTeacherImageWrap{
    width:3.75rem;
    height:3.75rem;
    position: relative;
    background: linear-gradient(to right, rgb(246, 33, 33), rgb(23, 62, 255), rgb(224, 4, 224));
    border-radius: 50%;
}

#yogaClassTeacherImage{
    width:3.5rem;
    height:3.5rem;
    position:absolute;
    border: 3px solid white;    
    border-radius: 50%;
    top:0.125rem;
    left:0.125rem;
}

#yogaClassReserveBtnWrapper{
    border-top: 1px solid #e0e5ec;
    padding-top: 1rem;
}


.yogaClassModalFooter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    border-top: 1px solid #e0e5ec;
    border-bottom-right-radius: calc(0.5rem - 1px);
    border-bottom-left-radius: calc(0.5rem - 1px);
}

.yogaClassCardBtns{
    width:100px !important;
}


#viewAllBtn{
    background-color: transparent;
    color: #212832;
    border-color: transparent;
    font-size: 1.25rem;
    width: 15rem;
    border-radius: 0px;
    font-family: "Metropolis", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}


/* SEARCH BAR */
.searchContainer{
    width:20rem !important;
}
/* END OF SEARCH BAR */


/*STUDENT SIDEBAR*/
#upcomingClasses a{
    transition: transform .3s ease-in-out;
    text-decoration: none;
    color:#212832;

}

#upcomingClasses a:hover{
    text-decoration: none;
    color:#212832;
    transform: scale(1.03);
}

.studentClassCardTitle{
    font-weight:bold;
    background: -webkit-linear-gradient(rgb(30, 78, 250), rgb(100, 30, 250),  rgb(161, 0, 201));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.studentClassCardDateTime, .teacherClassCardDateTime{
    font-size: 0.75rem;
}

.studentClassCardTitle .durationMin{
    font-size: 0.75rem;
}

.studentClassCardLocation, .teacherClassCardLocation{
    font-size: 0.75rem;
    color:#bcbec1;
}



/*TEACHER FUTURE CLASS SIDEBAR*/
#teacherUpcomingClassList a{
    text-decoration: none;
    color: white;
}


.sidenav-menu div{
    transition: all 0.3s ease-in-out;
}

.activeTeacherSidebarMenu{
    color: #0061f2;
}

.teacherCurrentViewUpcomingClass .card{
    border: 2px solid #0061f2;
}

.futureTeacherClassLink:hover .grayScaleImage{
    filter:none;
}

.grayScaleImage{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.grayScaleImage{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/*TEACHER CLASS DETAILS*/
#teacherUpcomingClassLitSideNav{
    border-right: 1px solid rgb(222, 222, 222);
}
 #teacherYogaClassDetail,
 #teacherYogaClassDetail .card-header{
     border: none;
 }

 #teacherYogaClassDetail .card-body,
 #teacherYogaClassDetail .card-header{
     padding-bottom: .5rem;
 }


 #teacherYogaClassDetail .card-header,
 #teacherYogaClassDetail .card-footer{
     background: white;
}

#teacherYogaClassDetail #classStudentImagesContainer{
    border: 1px solid #e0e5ec;
    background-color:#e0e5ec;
    border-radius: 0.5rem;
}

#teacherYogaClassDetail .studentImageOnCard{
    height:3rem;
    width:3rem;
    border: 1px solid white;
    border-radius: 50%;
}

#markCompleteYogaClassBtn, #teacherCancelYogaClassBtn{
    min-width: 12rem;
}





/* TOAST SETTINGS */
.toast-top-right{
    top:4rem;
    right:2rem;
}

.toast{
    box-shadow:none !important;
}

.toast-error{
    background-color: #e30059;
}

.toast-success{
    background-color: rgba(0, 166, 64, 0.9);
}

.toast-success .toast-message{
    color: white;
}